<h1>Edit Videogames</h1>

<!-- OLD FORM -->

<!-- <form action="/edit_confirm" method="post">
  <p>ID:</p>
  <input name="id">
  <p>Title:</p>
  <input name="title">
  <p>Genre:</p>
  <input name="genre">
  <p>Rating:</p>
  <input name="rating">
  <br><br>
  <input type="submit" id="sub">
</form> -->

<!-- Right now it's only going to post...with the action of update -->
<%= form_for @videogame, :url => { :action => "update", :via => :put} do |f| %>
<p><%= f.label "title" %></p>
<%= f.text_field ("title") %>
<p><%= f.label "genre_id" %></p>
<%= f.text_field ("genre_id") %>
<p><%= f.label "rating_id" %></p>
<%= f.text_field ("rating_id") %>
<br><br>
<%= f.submit %>
<% end %>

<center><a href="/home" class="go-home">Go back home</a></center>