<h1><%= @videogame.title %></h1>

<p>ID: <%= @videogame.id %></p>
<p>Title: <%= @videogame.title %></p>
<p>Genre: <%= @videogame.genre %></p>
<p>Rating: <%= @videogame.rating %></p>

<a href="/home">Go back home</a>